.body {
    height: 100%;
    margin: 0;
}

/* styling hooks on button */
:host {
    --sds-c-button-brand-color-background: white;
    --sds-c-button-brand-color-border: black;
    --sds-c-button-radius-border: 20px;
    --sds-c-button-sizing-border: 1px;
    --sds-c-button-brand-text-color: blue;
  }

.contactHeader {
    font-size: 30px;
    color: #000000;
    font-weight: bold;
    max-width: 27ch;
    font-family: Helvetica, sans-serif;
}



.contactContent {
    font-size: 12px;
    color: #000000;
}


img {
    max-width: 500px;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}